@import '../../styles/common.scss';

.button {
  width: 150px;
  height: 40px;
  margin: 15px;
  @include commons;
  @include around-flex;

  &__text {
    width: 80px;
    height: 25px;
    color: white;
    @include center-flex;
  }

  &__icon {
    font-size: 25px;
  }

  &--accept {
    background-color: cornflowerblue;
  }

  &--warning {
    background-color: orange;
  }

  &--danger {
    background-color: orangered;
  }

  &--hover {
    &:hover {
      cursor: pointer;
    }
  }
}
