.footer {
  align-items: center;
  background-color: rgb(37, 37, 37);
  bottom: 0;
  color: white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  left: 0;
  min-height: 60px;
  position: fixed;
  width: 100%;
}
