.flex-init {
  display: flex;
  align-items: center;
}

@mixin center-flex {
  @extend .flex-init;
  justify-content: center;
}

@mixin between-flex {
  @extend .flex-init;
  justify-content: space-between;
}

@mixin around-flex {
  @extend .flex-init;
  justify-content: space-around;
}

@mixin commons {
  border-radius: 10px;
  box-shadow: 0px 4px 12px -2px;
}
